<html>
  <head>
    <title>Add gossip</title>
  </head>
  <body>
    <div>
      <h1 >Add a new Gossip</h1>
      <p>Gossip</p>
      <form action='/gossips/new/' method='POST'>
        Add ur name :<br>
        <input type='text' name='gossip_author'/><br/>
        Here ur gossip : <br>
        <input type='text' name='gossip_content'/><br/>
        <input type='submit'/>
      </form>
    </div>
  </body>
</html>
